<h2> Edit your bouquet </h2>
  <%= form_for @flower do |f| %>
    <div class="form-group">
      <%= f.label :Title %>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :Description %>
      <%= f.text_area :content, :cols => 30, :rows => 10 %>
    </div>
    <div class="form-group">
      <%= f.label :Price %>
      <%= f.text_field :price %>
    </div>
    <div class="submit-form">
      <%= f.submit %>
    </div>
  <% end  %>
  <button><%= link_to "Back", flower_path, {:style=>'color:#2D3339;', :class => "link-to-text-color"} %></button>

