<h2> Post your bouquet </h2>
  <%= form_for @flowers do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :content, :cols => 30, :rows => 10 %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div class="submit-form">
      <%= f.submit %>
    </div>
  <% end  %>