<!DOCTYPE html>
<html>
  <head>
    <title>GurumiTheFlorist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navigation">
      <li><a class="navButton" href="/">Home</a></li>
      <br>
      <li><a class="navButton" href="/flowers" >My Collection</a></li>
      <br>
      <li><a class="navButton" href="/search" >Search</a></li>
      <br>
      <div class="navigation-user">
        <% if current_user %>
        <li><a class="navButton" href="#">Signed in as <%= current_user.username %></a></li>
        <br>
        <li><a class="navButton" href="/users/sign_out" data-method="delete" value="<%= destroy_user_session_path%>">Sign-out</a></li>
        <br>
        <% else  %>
        <li><a class="navButton" href="/users/sign_up">Sign-up</a></li>
        <br>
        <li><a class="navButton" href="/users/sign_in">Login</a></li>
        <br>
        <% end  %>
      </div>
    </ul>

    <div class="container">
      <img src="https://www.bioadvanced.com/sites/default/files/2018-06/Growing%20Hydrangeas.jpg">
      <%= yield %>
    </div>
  </body>
</html>
